/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/06/2020, 11:27:09 AM
    Author     : IVAN
*/

#vbCont{
    -fx-opacity: 0.9;
    -fx-background-radius: 15;
}

#vbCont:hover{
    -fx-background-color: #003366;
}

#vbCont:hover #lblNombre{
    -fx-border-color: white;
}

#lblNombre, #lblExtension{
    -fx-font: normal 11px "Courier";
    -fx-text-fill: #003366;
    -fx-alignment: CENTER;
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-color: #003366;
    -fx-border-width: 3;
    -fx-border-radius: 15;
}

#bpAdmRoot{
    -fx-background-color: #d3d3d3;
}

.button{
    -fx-font: bold 18px "Courier";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

#btnEditar, #btnAtras, #btnUpdate, #btnCommit, #btnGuardar{
    -fx-background-color: #003366;
}

#btnBorrar{
    -fx-background-color: #660000;
}

#btnEditar .image-view{
    -fx-image: url('../resources/editar.png')
}

#btnAtras .image-view{
    -fx-image: url('../resources/back.png')
}

#btnBorrar .image-view{
    -fx-image: url('../resources/delete.png')
}

#btnUpdate .image-view{
    -fx-image: url('../resources/8912.png')
}

#btnCommit .image-view{
    -fx-image: url('../resources/guardar.png')
}

#btnGuardar .image-view{
    -fx-image: url('../resources/guardar.png')
}

.combo-box{
    -fx-font: bold 18px "Courier";
    -fx-background-color: #017001;
    -fx-opacity: 0.9;
    
} 

.combo-box .arrow-button{
    -fx-background-color: transparent;
}

.combo-box .arrow-button .arrow{
    -fx-background-color: #0db30d;
}


.combo-box .list-cell{
    -fx-alignment: CENTER;
    -fx-font: bold 18px "Courier";
    -fx-prompt-text-fill: white;
    -fx-background-color: #017001;
    -fx-text-fill: white;
    -fx-font: bold 18px "Courier";
}

.combo-box .list-cell:hover{
    -fx-background-color: white;
    -fx-text-fill: #0db30d;
}